extends layout
block content
  h1 Перевірка даних 
  p
    each contact,id in contacts
      span=contact.surname
      form(method="post" action="/delete/" + id)
        button DELETE
      span=contact.name
      form(method="post" action="/delete/" + id)
        button DELETE
      span=contact.fathername
      form(method="post" action="/delete/" + id)
        button DELETE
      span=contact.ipn
      form(method="post" action="/delete/" + id)
        button DELETE
      span=contact.datebirsday
      form(method="post" action="/delete/" + id)
        button DELETE
      span=contact.phone
      form(method="post" action="/delete/" + id)
        button DELETE
      span=contact.seria
      form(method="post" action="/delete/" + id)
        button DELETE
      span=contact.number
      form(method="post" action="/delete/" + id)
        button DELETE
      span=contact.dateissue
      form(method="post" action="/delete/" + id)
        button DELETE
      span=contact.authority
      form(method="post" action="/delete/" + id)
        button DELETE
      span=contact.city
      form(method="post" action="/delete/" + id)
        button DELETE
      span=contact.street
      form(method="post" action="/delete/" + id)
        button DELETE
      span=contact.house
      form(method="post" action="/delete/" + id)
        button DELETE
        
