extends layout
block content
  h1 Перевірка даних 
  h2 #{surname}
    input(type="hidden" name="surname" value=surname)
    input(type="hidden" name="name" value=name)
    input(type="hidden" name="fathername" value=fathername)
    input(type="hidden" name="ipn" value=ipn)
    input(type="hidden" name="datebirsday" value=datebirsday)
    input(type="hidden" name="phone" value=phone)
  ul
    each contact, id in contacts
      li
        span=contact.surname
        | 
        span=contact.name
        |   
        span=contact.fathername
        |   
        span=contact.ipn
        |   
        span=contact.datebirsday
        |   
        span=contact.phone
        | 
        span=contact.seria
        | 
        span=contact.number
        | 
        span=contact.dateissue
        | 
        span=contact.authority
        | 
        span=contact.city
        | 
        span=contact.street
        | 
        span=contact.house
        |
        span
        form(method="post" action="/delete/" + id)
          input(type="hidden" name="surname" value=surname)
          input(type="hidden" name="name" value=name)
          input(type="hidden" name="fathername" value=fathername)
          input(type="hidden" name="ipn" value=ipn)
          input(type="hidden" name="datebirsday" value=datebirsday)
          input(type="hidden" name="phone" value=phone)
          button DELETE
        span
          a(href="/edit/"+id) EDIT
          
