extends layout
block content
  h1 Form 2
  p=example
  form.pasport(action="/document-confirmation" method="POST")
    .form--input
      p
        input(type="hidden" name="surname" value=surname)
        input(type="hidden" name="name" value=name)
        input(type="hidden" name="fathername" value=fathername)
        input(type="hidden" name="ipn" value=ipn)
        input(type="hidden" name="datebirsday" value=datebirsday)
        input(type="hidden" name="phone" value=phone)
      span
        input(name="seria" placeholder="серія")
        | 
        input(name="number" placeholder="номер" )
        | 
        input(name="dateissue" placeholder="дата видачі" )
      p
        input(name="authority" placeholder="орган видачі" )
      span КРОК 3 із 3: АДРЕСА ПРОЖИВАННЯ
      p
        input(name="city" placeholder="місто" )
        | 
        input(name="street" placeholder="вулиця" )
        | 
        input(name="house" placeholder="будинок" )
      p
        button SAVE
